.slideMovingContainer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 15%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: 0px 0px 10px gray;
}

.slideTab {
  position: absolute;
  top: 2.5%;
  left: 0;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-left: 5%;
  padding-right: 5%;
}

.miniSlideTab {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 90px;
  width: 160px;
  position: relative;
}

.selectSlideButton {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background: transparent;
  border: none;
  top: 0;
  left: 0;
  z-index: 100;
}

.selectSlideButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.deleteSlideButton {
  display: flex;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 4px;
  top: 4px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 24px;
  z-index: 101;
}

.deleteSlideButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.newSlideButton {
  border-radius: 20px;
  aspect-ratio: 1;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.newSlideButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slideImage {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
