.saveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: auto;
  border-radius: 8px;
  border: 2px solid var(--hoverColor);
  touch-action: manipulation;
  gap: var(--gapMedium);
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  background-color: var(--accentColor2);
}

.saveButton:hover {
  border-color: var(--accentColor2);
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: auto;
  border-radius: 8px;
  border: 2px solid var(--hoverColor);
  touch-action: manipulation;
  gap: var(--gapMedium);
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  background-color: var(--accentColor1);
}

.clearButton:hover {
  border-color: var(--accentColor1);
}

.redoundoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: auto;
  border-radius: 8px;
  background-color: var(--editorColor);
  border: 2px solid var(--hoverColor);
  touch-action: manipulation;
  gap: var(--gapMedium);
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}

.redoundoButton:hover {
  border-color: var(--accentColor2);
}

.redoundoButton:disabled {
  opacity: 0.5;
}

.redoundoButton:disabled:hover {
  border-color: var(--hoverColor);
}

.btnImage {
  height: 90%;
  aspect-ratio: 1/1;
}

.btnText {
  height: auto;
  color: var(--lightText);
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2vh;
}

.headerDiv {
  width: 95vw;
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 500;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--hoverColor);
  gap: var(--gapMedium);
}

.buttonContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--gapMedium);
}

.backgroundDiv {
  width: auto;
  height: auto;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: var(--editorColor);
  border: 2px solid var(--accentColor2);
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.closeButton {
  width: 2.5vw;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.closeButton:hover {
  opacity: 0.8;
}

.closeImage {
  width: 100%;
  height: 100%;
}

.savePresentationText {
  font-size: 2vw;
  color: var(--whiteColor);
}

.smallInfoText {
  font-size: 1vw;
  color: var(--whiteColor);
}

.presentationNameInput {
  font-size: 1.25vw;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top-left-radius: 8px;
  border-end-start-radius: 8px;
  background-color: var(--bgColor);
  border: 2px solid var(--hoverColor);
  color: var(--whiteColor);
}

.presentationNameInput:hover {
  border-color: var(--accentColor2);
}

.confirmButton {
  font-size: 1.25vw;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top-right-radius: 8px;
  border-end-end-radius: 8px;
  background-color: var(--bgColor);
  border: 2px solid var(--hoverColor);
  color: var(--accentColor2);
}

.confirmButton:hover {
  border-color: var(--accentColor2);
  background-color: var(--accentColor2);
  color: var(--whiteColor);
}

@media (max-width: 800px) {
  .closeButton {
    width: 2.5vh;
  }

  .savePresentationText {
    font-size: 2vh;
  }

  .smallInfoText {
    font-size: 1vh;
  }

  .presentationNameInput {
    font-size: 1.25vh;
  }

  .confirmButton {
    font-size: 1.25vh;
  }
}
