.actionPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--editorColor);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  gap: 16px;
  z-index: 1;
  max-width: 20vw;
  border: 1px solid var(--hoverColor);
}

.variableContainer {
  width: auto;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.sectionDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: var(--gapBig);
}

.simpleOptionContainer_Row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.simpleOptionContainer_Column {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.simpleText {
  text-align: center;
  color: var(--lightText);
  height: auto;
  width: auto;
  font-size: 1vw;
}

.simpleTextInput {
  font-size: 1vw;
  overflow: hidden;
  height: 2vw;
  width: 70%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 2px solid var(--hoverColor);
  background-color: var(--bgColor);
  color: var(--lightText);
  padding: 0;
}

.simpleTextInput:hover {
  opacity: 0.8;
  border-color: var(--accentColor2);
}

.simpleColorInput {
  -webkit-appearance: none;
  appearance: none;
  width: 2vw;
  height: 2vw;
  aspect-ratio: 1/1;
  border: 2px solid var(--bgColor);
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
}

.simpleColorInput:hover {
  opacity: 0.9;
  border-color: var(--accentColor2);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.simpleInputButton {
  width: 2vw;
  aspect-ratio: 1/1;
  border-radius: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--bgColor);
  border: 2px solid var(--hoverColor);
  color: var(--whiteColor);
}

.simpleInputButton:hover {
  opacity: 0.8;
  border-color: var(--accentColor2);
}

.inLine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.submitButton {
  border-radius: 4px;
  aspect-ratio: 1 / 1;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--hoverColor);
  background-color: var(--bgColor);
}

.submitButton:hover {
  border-color: var(--accentColor2);
}

.submitImage {
  width: 1.5vw;
  aspect-ratio: 1/1;
}

.createNewButton {
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color: var(--whiteColor);
  font-size: 1vw;
}

.createNewButton:hover {
  color: var(--accentColor2);
  font-weight: bold;
}

.deleteGeneratedImageButton {
  font-size: 1vw;
  border-radius: 4px;
  width: 90%;
  height: auto;
  background-color: var(--accentColor1);
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  border: 2px solid var(--hoverColor);
  color: var(--whiteColor);
}

.deleteGeneratedImageButton:hover {
  opacity: 0.8;
  border-color: var(--accentColor1);
}

.deleteGeneratedImageButton:disabled {
  opacity: 0.8;
}

.deleteGeneratedImageButton:disabled:hover {
  opacity: 0.8;
}

.incrementButton {
  width: 2vw;
  aspect-ratio: 1/1;
  border-radius: 100%;
  font-size: 1.5vw;
  padding: 0;
  border: 2px solid var(--hoverColor);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor);
  color: var(--whiteColor);
}

.incrementButton:hover {
  border-color: var(--accentColor2);
  opacity: 0.8;
}

.dupBut {
  width: 7vw;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: var(--bgColor);
  border: 2px solid var(--hoverColor);
  color: var(--whiteColor);
  border-radius: 8px;
  font-size: 1vw;
}

.dupBut:hover {
  opacity: 0.8;
  border-color: var(--accentColor2);
  color: var(--accentColor2);
}

.delBut {
  width: 7vw;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: var(--bgColor);
  border: 2px solid var(--hoverColor);
  color: var(--whiteColor);
  border-radius: 8px;
  font-size: 1vw;
}

.delBut:hover {
  opacity: 0.8;
  border-color: var(--accentColor1);
  color: var(--accentColor1);
}

.simpleSlider {
  appearance: none;
  border-radius: 8px;
  height: 0.8vw;
  background-color: var(--bgColor);
  border: 2px solid var(--hoverColor);
}

.simpleSlider:hover {
  opacity: 0.8;
  cursor: pointer;
  border-color: var(--accentColor2);
}

.simpleSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--accentColor2);
  cursor: pointer;
}

.simpleSlider::-webkit-slider-thumb:hover {
  opacity: 0.8;
}

.simpleSlider::-moz-range-thumb {
  height: 1.2vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--accentColor2);
  cursor: pointer;
}

.simpleSlider::-moz-range-thumb:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  .actionPanel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-end-end-radius: 16px;
    border-end-start-radius: 16px;
    max-width: 100vw;
  }

  .variableContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-width: none;
    height: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: var(--gapBig);
    padding-bottom: var(--gapBig);
    overflow-x: auto;
    gap: 12px;
  }

  .simpleText {
    font-size: 2vh;
  }

  .simpleTextInput {
    font-size: 2vh;
    overflow: hidden;
    height: auto;
    width: 60%;
    min-width: 20%;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .submitImage {
    height: 2vh;
    width: auto;
  }

  .deleteGeneratedImageButton {
    font-size: 1.5vh;
  }

  .simpleColorInput {
    height: 2.5vh;
    width: 2.5vh;
  }

  .createNewButton {
    font-size: 1.5vh;
    min-height: 7vh;
  }

  .simpleOptionContainer_Column {
    width: auto;
  }

  .sectionDiv {
    width: auto;
  }

  .delBut {
    width: auto;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 2vh;
  }

  .dupBut {
    width: auto;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 2vh;
  }

  .incrementButton {
    width: 5vh;
    font-size: 1.5vh;
  }

  .simpleInputButton {
    width: 3vh;
  }

  .simpleSlider {
    min-width: 15vw;
    min-width: 120px;
    height: auto;
  }

  .simpleSlider::-webkit-slider-thumb {
    height: 2vh;
  }

  .simpleSlider::-moz-range-thumb {
    height: 2vh;
  }

  .simpleOptionContainer_Row {
    flex-direction: column;
  }
}
